body{

    background-position: center;
    background-color: gray;
    text-align: center;
    background-size: cover;
    margin: 0;
}

button{
    background-color: yellow;
    border: 9px;
    border-style: groove;
    border-color: yellow;
    border-radius: 20px;

}

.portifolio{
    background-color: gray;
    margin: 90px;
    max-width: 5000px;
    border: 10px;
    border-style: groove;
    border-radius: 50px;
}

h1{
    text-shadow: 50px;
    margin: 60px;
}
