body{
    background-image: url("gatosFofos.png");
    background-size: 900px;
    text-align: center;
}

.kawaii{
    width: 50%;
    background-color: transparent;
    margin:auto;
    border-radius: 1900px;
    border-style: groove;
    border-color: blue;

}